* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    /* background-color: rgb(187, 217, 248); */
    background-color: rgb(30, 21, 21);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    padding: 10px;
}
body> p{
    font-size: 18px;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
body> p a{
color: red;
text-decoration: none;
transition: all ease 1s;
}
body> p a:hover{
color: red;
text-decoration: underline;
}

main {
    background-color: white;
    border-radius: 15px;
    width: 700px;
    max-width: 100%;
    box-shadow: 0px 0px  30px silver;

}

main>h1 {
    border-bottom: 1px solid black;
    padding: 20px;
    text-align: center;
}

main section {
    /* border-bottom: 1px solid black;  */
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
    gap : 15px;
}

.start{
    padding: 15px 45px;
    font-size: 20px;
    background-color: rgb(10, 15, 20);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.start:hover{
    color: rgb(242, 234, 234);
    background-color: rgb(50, 43, 43);
   
    
}
.start:active{
    transform: scale(0.9);
}
#difficulty{
    margin-top: 10px;
}



/* To show home screen */
main.home .home-screen {
    display: flex;
}

main.home .game-screen {
    display: none;
}

main.home .result-screen {
    display: none;
}


/* To show Game screen */
main.game .home-screen {
    display: none;
}

main.game .game-screen {
    display: flex;
}

main.game .result-screen {
    display: none;
}


/* To show Result screen */
main.result .home-screen {
    display: none;
}

main.result .game-screen {
    display: none;
}

main.result .result-screen {
    display: flex;
}


main section fieldset{
    padding: 20px;
    width: 90%;
 
}

@media screen and (max-width: 500px) {
    main section fieldset{
        padding: 10px;
        width: 96%;   
    } 
    .info p {
   
        font-size: 16px !important;
        margin-top: 10px !important;
    }
    body> p{
        font-size: 14px;
    }

}
main section .info{

    align-self: flex-start;
    padding-top: 10px;
 
}

input{
    cursor: pointer;
}

.info p span{
    color: blue;
    font-weight: bold;
}
.info p {
   
    font-size: 19px;
    margin-top: 5px;
}


/* Game Styling ================================================================== */

.data{
    display: flex;
    justify-content: space-around;
    padding: 5px 0px;
    width: 100%;
    
}

.data p span:nth-child(1){
    color: tomato;
    font-weight: bold;
}

.game-screen > small {
    font-size: 16px;
}
.game-screen > h1 {
    font-size: 36px;
}
input[type = "text"]{
    width: 90%;
    padding: 10px 15px;
    cursor: auto;
    outline: none;
    font-size: 18px;
    border: 1px solid gray;
    border-radius: 10px;
}
#game-level{
    color: tomato;
}

@media screen and (max-width: 500px) {
    
    input[type = "text"]{
        width: 96%;
        padding: 10px 10px;
        font-size: 18px;
    }
    
    
    .data{
        justify-content: space-between;
        padding: 5px 10px;
    }
    
    
}
/* Result Styling ================================================================== */

.result-screen p{
    font-size: 24px;
}

.result-screen h2 span{
    color: tomato;

}
#restart{
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 15px;
    border: none;
    background-color: rgb(218, 218, 32);
    color: black;
    cursor: pointer;
}
#restart:hover{
    background-color: white;
    color: black;
    border: 2px solid rgb(209, 209, 32);
}

#restart:active{
transform: scale(.93);
}

@media screen and (max-width: 500px) {
    
    .result-screen p{
        font-size: 18px;
    }
    
  
    
}