@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body,
html {
    font-family: "Roboto", system-ui;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: pink;
}

body>h1 {
    font-size: 45px;
    color: blue;
}

.navigation {
    display: flex;
    gap: 15px;
    /* background-color: aqua; */
    background-color: rgb(245, 210, 210);
    border: 2px solid blue;
    border-radius: 10px;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.navigation>div {
    display: flex;
    padding: 15px;
    flex-direction: column;
    align-items: center;
    /* background-color: rgb(255, 179, 179); */
    justify-content: center;
    gap: 6px;
}

.navigation>div>i {

    font-size: 25px;

}

.navigation>div>h2 {

    font-size: 20px;
    font-weight: unset;

}

.navigation>div:nth-child(1) {
    color: green;
}

.navigation>div:nth-child(2) {
    color: tomato;
}

.message {
    background-color: dodgerblue;
    padding: 10px;
    margin: 0px 0px 10px 0px;
    color: white;
    border-radius: 10px;
    min-width: 220px;
    text-align: center;
}