body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    /* height: 100vh;
    overflow-y: hidden; */
}

.head {
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid red;

    /* box-shadow: 4px 0px 10px white; */
}

.head p {
font-size: 22px;
}

.main {
    background-color: rgb(220, 206, 206);
    padding: 0px 20px;
    min-height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */

}

.main h1 {
    text-align: center;
    color: black;
}
.main h1 a{
    text-decoration: none;
    color: red;
}

.projects {
    /* height: 500px; */
    /* width: 97%; */
    background-color: transparent;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.projects a {
    text-decoration: none;
}

.project-content {
    width: 94%;
    height: 50px;
    border-radius: 15px;
    /* background-color: orange; */
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
    padding: 0px 15px;
    text-decoration: none;
    transition: all .2s ease;
    border: 1px solid black;
}

.project-content h2 {
    font-size: 24px;
color: rgb(255, 3, 3);
}


.project-content p {
    font-size: 20px;
    color: black;

}

.project-content:hover {
    background-color: rgb(227, 215, 215);
    color: black;
}

@media screen and (max-width : 520px) {
    .head p {
        font-size: 18px;
        }
        .main {
        
            padding: 0px 20px;
        }
        
.main h1 {
  font-size: 19px;
}

.project-content {
    width: 95%;
    height: 40px;
    gap: 7px;
}
.project-content h2{
  font-size: 14px;
}
.project-content p{
   font-size: 14px;
}
.project-content img{
   width: 23px;
}
.main h1 a img{
    width: 10px;
   
}



}